
/*!
 * StyleFont: Dosis
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "dosis";
    src: url("Dosis-Light.otf") format("opentype");
    font-weight: 300; }

@font-face {
    font-family: "dosis";
    src: url("Dosis-Regular.otf") format("opentype");
    font-weight: 400; }

@font-face {
    font-family: "dosis";
    src: url("Dosis-Medium.otf") format("opentype");
    font-weight: 500; }

@font-face {
    font-family: "dosis";
    src: url("Dosis-SemiBold.otf") format("opentype");
    font-weight: 600; }

@font-face {
    font-family: "dosis";
    src: url("Dosis-Bold.otf") format("opentype");
    font-weight: 700; }