
/*!
 * StyleFont: ClearSans
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "clearsans";
    src: url("ClearSans-Light.ttf") format("truetype");
    font-weight: 300; }

@font-face {
    font-family: "clearsans";
    src: url("ClearSans-Regular.ttf") format("truetype");
    font-weight: 400; }

@font-face {
    font-family: "clearsans";
    src: url("ClearSans-Medium.ttf") format("truetype");
    font-weight: 500; }

@font-face {
    font-family: "clearsans";
    src: url("ClearSans-Bold.ttf") format("truetype");
    font-weight: 600; }

@font-face {
    font-family: "clearsans";
    src: url("ClearSans-Bold.ttf") format("truetype");
    font-weight: 700; }