
/*!
 * StyleFont: Tofino Pro Personal
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "tofino";
    src: url("Tofino-Light.otf") format("opentype");
    font-weight: 300; }

@font-face {
    font-family: "tofino";
    src: url("Tofino-Regular.otf") format("opentype");
    font-weight: 400; }

@font-face {
    font-family: "tofino";
    src: url("Tofino-Medium.otf") format("opentype");
    font-weight: 500; }

@font-face {
    font-family: "tofino";
    src: url("Tofino-SemiBold.otf") format("opentype");
    font-weight: 600; }

@font-face {
    font-family: "tofino";
    src: url("Tofino-Bold.otf") format("opentype");
    font-weight: 700; }