
<!-- STEPPER HORIZONTAL -->
<div class="stepper-horizontal alternative">
    <ul>
        <li class="active" ng-click="openSnackbar()">
            <div class="content">
                <div class="indicator">
                    <span>1</span>
                </div>
                <div class="detail">
                    <p class="title">Select campaign</p>
                    <p class="optional">Text optional</p>
                </div>
            </div>
        </li>
        <li class="disabled">
            <div class="content">
                <div class="indicator">
                    <span>2</span>
                </div>
                <div class="detail">
                    <p class="title">Create an ad group</p>
                    <p class="optional">Text optional</p>
                </div>
            </div>
        </li>
        <li class="">
            <div class="content">
                <div class="indicator">
                    <span>3</span>
                </div>
                <div class="detail">
                    <p class="title">Select an app</p>
                </div>
            </div>
        </li>
        <li class="active error">
            <div class="content">
                <div class="indicator">
                    <span>4</span>
                </div>
                <div class="detail">
                    <p class="title">Create an ad</p>
                    <p class="optional">Text optional</p>
                </div>
            </div>
        </li>
    </ul>
</div>
            
<!-- EXPANSION PANELS -->
<ul class="list-expansion-panel">
    <li class="expansion-panel">
        <div class="header">
            <span class="title small-60">AngularJS</span>
            <span class="detail">v1.6.4</span>
        </div>
        <div class="body">
            <div class="content">
                <!-- Contenido del componente -->
            </div>
        </div>
    </li>

    <li class="expansion-panel">
        <div class="header">
            <span class="title small-60">Material Design</span>
        </div>
        <div class="body">
            <div class="content">
                Hola Pajuate
            </div>
            <div class="actions">
                <button class="flat theme-primary">Save</button>
                <button class="flat">Cancel</button>
            </div>
        </div>
    </li>

    <li class="expansion-panel">
        <div class="header">
            <span class="title small-60">HTML</span>
            <span class="detail">v5.0.0</span>
        </div>
    </li>
</ul>
                    
<!-- CARD: MEDIA AREA -->
<div class="card flat" style="margin-top: 8px;">
    <div class="optional-header">
        <img class="avatar" src="Vi.png" alt=""/>
        <div class="detail">
            <p class="title">Softtion Material</p>
            <p class="subtitle">Framework Material Design</p>
        </div>
    </div>
    <div class="media-area">
        <div class="image">
            <img class="img-material" src="descarga.jpg" alt=""/>
        </div>

        <div class="actions">
            <button class="action">
                <span class="badge">1</span>
                <i>favorite</i>
            </button>
            <button class="action"><i>bookmark</i></button>
            <button class="action"><span class="badge">1</span><i>reply</i></button>
        </div>
    </div>

    <div class="divider"></div>

    <div class="support-content">
        Daniel Andres Castillo Pedroza<br>
        Ingeniero de Sistemas<br>
        CIO de Softtion Developers
    </div>
</div>
                    
<!-- FOOTER BUTTONS -->
<div class="footer-buttons">
    <button class="flat theme-secondary">Share</button>
    <button class="flat theme-primary">Confirm</button>
</div>
                
<!-- STEPPER MOBILE -->
<div class="stepper-mobile">
    <div class="back start">
        <button ng-disabled="false"><span>Back</span></button>
    </div>
    <div class="next finish">
        <button ng-disabled="false"><span>Next</span></button>
    </div>

    <div class="content">
        <div class="progress-bar-stepper">
            <div class="bar"></div>
        </div>
        <div class="dots">
            <div class="dot"></div>
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot error"></div>
            <div class="dot"></div>
            <div class="dot disabled"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
          
<!-- FAB MENU -->
<div class="fab-menu">
    <div class="box">
        <div class="content">
            <div class="button-floating"><i>add</i></div>

            <div class="menu-content">
                <ul class="menu">
                    <li class="option" ng-click="removeFiles($event)">
                        <i>delete</i><span>Move to trash</span>
                    </li>
                    <li class="option" ng-click="showFiles()">
                        <i>undo</i><span>Undo</span>
                    </li>
                    <li class="option">
                        <span>Zoom</span>
                    </li>
                    <li class="option">
                        <i>close</i><span>Close all</span>
                    </li>
                    <li class="option">
                        <i>close</i><span>Close all</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- PROGRESS BUTTON FLOATING -->
<div class="progress-button-floating" ng-disabled="false" icon-button="cloud_down"></div>

<!-- MENU -->
<ul class="menu">
    <li class="option">
        <i>delete</i>
        <span>Move to trash</span>
        <i>done</i>
    </li>
    <li class="divider"></li>
    <li class="option align-icon">
        <span>Move to trash</span>
        <i>done</i>
    </li>
</ul>

<!-- AVATAR -->
<div class="avatar"><span>S</span></div>
<div class="avatar"><i>person</i></div>
<div class="avatar"><img src="backup.png"></div>