


.calendar {
    position: relative;
    float: left;
    width: 100%;
    user-select: none; }

.calendar > .header {
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding: 0px 8px;
    box-sizing: border-box; }

.calendar > .header > .title {
    height: 56px;
    line-height: 56px;
    float: left; 
    font-size: 16px;
    font-weight: 700; }

.calendar > .header > button.action {
    width: 40px;
    height: 56px;
    line-height: 56px; }

.calendar > .header > button.action.left {
    float: left;
    margin-right: 16px; }

.calendar > .header > button.action.right {
    float: right;
    margin-left: 16px; }

.calendar > .content {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; }

.calendar > .content > .table {
    width: 100%; }

.calendar > .content > .table > .head {
    display: flex;
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    box-sizing: border-box; }

.calendar > .content > .table > .head > .day-week {
    width: 100%;
    padding: 0px;
    text-align: center;
    font-weight: 700; }

.calendar > .content > .table > .body {
    width: 100%; 
    padding: 0 12px;
    box-sizing: border-box; }

.calendar > .content > .table > .body > .week {
    display: flex;
    width: 100%;
    border-top: none !important;
    box-sizing: border-box; }

.calendar > .content > .table > .body > .week > .day {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    min-height: 14px;
    cursor: pointer; }

.calendar > .content > .table > .body > .week > .day.inactive {
    cursor: not-allowed;
    pointer-events: none; }

.calendar > .content > .table > .body > .week .number {
    padding: 0px 4px;
    width: 100%;
    height: 20px;
    font-weight: 700;
    line-height: 20px;
    box-sizing: border-box;
    font-size: 13px; }

.calendar > .content > .table > .body > .week .event {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 2px; }

.calendar > .content > .table > .body > .week .event + .event {
    margin-top: 4px; }

.calendar > .content > .table > .body > .week .event > p {
    line-height: 14px;
    margin: 0px;
    font-size: 12px; }

.calendar > .content > .table > .footer {
    width: 100%;
    height: 48px;
    margin-top: 8px; }

.calendar > .content > .table > .footer > i {
    position: relative;
    float: right;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin-right: 16px; }

.calendar > .content > .table > .footer > i:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    border-radius: 50%; 
    opacity: 0.32;
    background-color: var(--dark-ripple); }

.calendar > .content > .table > .footer > i.dragover:before {
    width: 36px;
    height: 36px; }


.calendar > .header {
    background-color: var(--theme-primary-background); }

.calendar > .header > .title {
    color: var(--theme-primary-font-active); }

.calendar > .header > button.action {
    color: var(--theme-primary-font-active); }

.calendar > .header > button.action:before {
    background-color: var(--light-ripple); }

.calendar > .content > .table > .head > .day-week {
    color: var(--dark-secondary-font); }

.dark .calendar > .content > .table > .head > .day-week {
    color: var(--light-primary-font); }

.calendar > .content > .table > .body > .week {
    border: 1px solid var(--light-background-border); }

.dark .calendar > .content > .table > .body > .week {
    border: 1px solid var(--dark-background-border); }

.calendar > .content > .table > .body > .week:nth-child(1) {
    border-top: 1px solid var(--light-background-border) !important; }

.dark .calendar > .content > .table > .body > .week:nth-child(1) {
    border-top: 1px solid var(--dark-background-border) !important; }

.calendar > .content > .table > .body > .week > .day {
    border-right: 1px solid var(--light-background-border); }

.dark .calendar > .content > .table > .body > .week > .day {
    border-right: 1px solid var(--dark-background-border); }

.calendar > .content > .table > .body > .week > .day:last-child {
    border-right: none; }

.calendar > .content > .table > .body > .week > .day.inactive {
    background-color: rgba(0, 0, 0, 0.04); }

.dark .calendar > .content > .table > .body > .week > .day.inactive {
    background-color: rgba(255, 255, 255, 0.04); }

.calendar > .content > .table > .body > .week .number { 
    color: var(--dark-disabled-font); }

.dark .calendar > .content > .table > .body > .week .number { 
    color: var(--light-disabled-font); }

.calendar > .content > .table > .body > .week .event {
    background-color: var(--theme-secondary-background);
    color: var(--light-primary-font); }

.calendar > .content > .table > .footer { 
    background-color: rgba(0, 0, 0, 0.05); }

.dark .calendar > .content > .table > .footer { 
    background-color: rgba(255, 255, 255, 0.05); }

.calendar > .content > .table > .footer > i { 
    color: var(--dark-secondary-font); }

.dark .calendar > .content > .table > .footer > i { 
    color: var(--light-primary-font); }