

.item-list > .slide-action {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 1; }

.item-list > .slide-action > i {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 36px;
    width: 36px;
    height: 36px;
    line-height: inherit;
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.item-list > .slide-action > .confirm-button {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
            transform: translate(0, -50%); }