
/*!
 * StyleFont: Madras
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "madras";
    src: url("Madras-Light.otf") format("opentype");
    font-weight: 300; }

@font-face {
    font-family: "madras";
    src: url("Madras-Regular.otf") format("opentype");
    font-weight: 400; }

@font-face {
    font-family: "madras";
    src: url("Madras-Regular.otf") format("opentype");
    font-weight: 500; }

@font-face {
    font-family: "madras";
    src: url("Madras-Bold.otf") format("opentype");
    font-weight: 600; }

@font-face {
    font-family: "madras";
    src: url("Madras-Bold.otf") format("opentype");
    font-weight: 700; }