
/*!
 * StyleFont: PT_Sans-Narrow
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "ptsans_narrow";
    src: url("PT_Sans-Narrow-Regular.ttf") format("truetype");
    font-weight: 300; }

@font-face {
    font-family: "ptsans_narrow";
    src: url("PT_Sans-Narrow-Regular.ttf") format("truetype");
    font-weight: 400; }

@font-face {
    font-family: "ptsans_narrow";
    src: url("PT_Sans-Narrow-Regular.ttf") format("truetype");
    font-weight: 500; }

@font-face {
    font-family: "ptsans_narrow";
    src: url("PT_Sans-Narrow-Bold.ttf") format("truetype");
    font-weight: 600; }

@font-face {
    font-family: "ptsans_narrow";
    src: url("PT_Sans-Narrow-Bold.ttf") format("truetype");
    font-weight: 700; }