
/*!
 * StyleFont: Akrobat
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "akrobat";
    src: url("Akrobat-Light.otf") format("opentype");
    font-weight: 300; }

@font-face {
    font-family: "akrobat";
    src: url("Akrobat-Regular.otf") format("opentype");
    font-weight: 400; }

@font-face {
    font-family: "akrobat";
    src: url("Akrobat-Regular.otf") format("opentype");
    font-weight: 500; }

@font-face {
    font-family: "akrobat";
    src: url("Akrobat-SemiBold.otf") format("opentype");
    font-weight: 600; }

@font-face {
    font-family: "akrobat";
    src: url("Akrobat-Bold.otf") format("opentype");
    font-weight: 700; }