
/*!
 * StyleFont: Roboto
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "hind";
    src: url("Hind-Light.ttf") format("truetype");
    font-weight: 300; }

@font-face {
    font-family: "hind";
    src: url("Hind-Regular.ttf") format("truetype");
    font-weight: 400; }

@font-face {
    font-family: "hind";
    src: url("Hind-Medium.ttf") format("truetype");
    font-weight: 500; }

@font-face {
    font-family: "hind";
    src: url("Hind-Semibold.ttf") format("truetype");
    font-weight: 600; }

@font-face {
    font-family: "hind";
    src: url("Hind-Bold.ttf") format("truetype");
    font-weight: 700; }