
/*!
 * StyleFont: San Francisco
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "san_francisco";
    src: url("SanFranciscoDisplay-Light.otf") format("opentype");
    font-weight: 300; }

@font-face {
    font-family: "san_francisco";
    src: url("SanFranciscoDisplay-Regular.otf") format("opentype");
    font-weight: 400; }

@font-face {
    font-family: "san_francisco";
    src: url("SanFranciscoDisplay-Medium.otf") format("opentype");
    font-weight: 500; }

@font-face {
    font-family: "san_francisco";
    src: url("SanFranciscoDisplay-Semibold.otf") format("opentype");
    font-weight: 600; }

@font-face {
    font-family: "san_francisco";
    src: url("SanFranciscoDisplay-Bold.otf") format("opentype");
    font-weight: 700; }