
/*!
 * StyleFont: Inter
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "inter";
    src: url("Inter-Light.otf") format("opentype");
    font-weight: 300; }

@font-face {
    font-family: "inter";
    src: url("Inter-Regular.otf") format("opentype");
    font-weight: 400; }

@font-face {
    font-family: "inter";
    src: url("Inter-Medium.otf") format("opentype");
    font-weight: 500; }

@font-face {
    font-family: "inter";
    src: url("Inter-SemiBold.otf") format("opentype");
    font-weight: 600; }

@font-face {
    font-family: "inter";
    src: url("Inter-Bold.otf") format("opentype");
    font-weight: 700; }