
/*!
 * StyleFont: Open Sans Condensed
 * development: Daniel Andres Castillo Pedroza
 * https://material.softtion.com.co
 */

@font-face {
    font-family: "opensans_condensed";
    src: url("OpenSansCondensed-Regular.ttf") format("truetype");
    font-weight: 300; }

@font-face {
    font-family: "opensans_condensed";
    src: url("OpenSansCondensed-Regular.ttf") format("truetype");
    font-weight: 400; }

@font-face {
    font-family: "opensans_condensed";
    src: url("OpenSansCondensed-Bold.ttf") format("truetype");
    font-weight: 500; }

@font-face {
    font-family: "opensans_condensed";
    src: url("OpenSansCondensed-Bold.ttf") format("truetype");
    font-weight: 600; }

@font-face {
    font-family: "opensans_condensed";
    src: url("OpenSansCondensed-Bold.ttf") format("truetype");
    font-weight: 700; }